java_paths

.idea/

./**/venv
./**/venv/

./**/__pycache__/

scrapy/musiclyrics/musiclyrics/spiders/__pycache__/lyrics.cpython-38.pyc

scrapy/musiclyrics/musiclyrics/spiders/__pycache__/

backend/__pycache__

musiclyrics/musiclyrics/__pycache__/